<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}
    <div class="container"><p> {{ body }} </p></div>
    {{>footer}}
</body>
</html>