<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}
        <div class="container">
            <p> {{ body.content1 }} </p>
            <p> {{ body.content2 }} </p>
            <p> {{ body.content3 }} </p>
            <span>Use this site get your weather !</span>
            <form>
                <input type="text" placeholder="Location">
                <button type="submit"> Send </button>
            </form>

            <span id="message-1"></span>
            <span id="message-2"></span>
        </div>
    {{>footer}} 
    <script src="./js/formHandle.js"></script>
</body>
</html>