/* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    body {
        padding-top: 60px;
        padding-bottom: 40px;
        margin: 0;
    }
    .container{
        width: 80%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    header, footer{
        width: 100%;
        position: fixed;
        background: #333;
        padding: 10px 0px;
        color: #fff;
    }
    header{
        top: 0;
    }
    footer{
        bottom: 0;
    }    
    /* Some more styles to beutify this example */
    nav a{
        color: #fff;
        text-decoration: none;
        padding: 7px 25px;
        display: inline-block;
    }

    .container > p {
        display:inline-block;
        height: 100px;
        width: 33%;
        background: green;
        color: white;
        text-align: center;
    }

